@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

/*@import tags let you bring external elments such as web fonts into a CSS stylesheet, they should be placed at the top of a CSS document- Sasha*/

body {
	font-family: 'Old Standard TT', serif;
	background-color: rgb(85,85,85);
	color: white;
	text-align: center;
	margin: 0 auto;
	max-width: 600px;
}
h1 {
	font-size: 75px;
}
h2 {
	font-size: 45px;
}
p {
	text-align: justify;
}
a {
	color: white;
}

/*Classes go here*/

.home-menu-list {
	display: inline;
   	padding: 0px 10px 0px 10px;
}

.home-menu-item {
	color: white;
    font-size: 20px;
}
.return {
	text-align: left;
	background: rgba(0,0,0,0.5);
}

.dropbtn {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Old Standard TT', serif;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: auto
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*ID's go here*/

#homepage-menu {
    padding: 10px;
    background: rgba(0,0,0,0.5);
}

#whisky {
	margin-bottom: 20px
}

#home1 {
	margin-bottom: 20px
}
