@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

@media (max-width: 750px) {
  .home-menu-list {
    display: initial;
    padding: 5px;
  }
  body {
    text-align: left;
    max-width: none;
  }
}

/*@import tags let you bring external elments such as web fonts into a CSS stylesheet, they should be placed at the top of a CSS document- Sasha*/

body {
	font-family: 'Old Standard TT', serif;
	background-color: rgb(85,85,85);
	color: white;
  text-align: center;
	margin: 0 auto;
	max-width: 750px;
}
h1 {
	font-size: 75px;
}
h2 {
	font-size: 45px;
}
h3 {
  font-size: 27px;
}
p {
	text-align: justify;
}
a {
	color: white;
}

/*Classes go here*/

.home-menu-list {
	display: inline;
   padding: 0px 10px 0px 10px;
}

.home-menu-item {
	color: white;
    font-size: 20px;
}
.return {
	text-align: left;
	background: rgba(0,0,0,0.5);
}

.email {
  margin-bottom: 20px;
}

.dropbtn {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Old Standard TT', serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: auto;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*ID's go here*/

#homepage-menu {
    padding: 10px;
    background: rgba(0,0,0,0.5);
}

#whisky {
	margin-bottom: 20px
}

#home1 {
	margin-bottom: 20px
}

#whiskeyHeader {
    background-image: url("Images/whiskeyheader.jpg");
    width: 100%;
}

#absintheHeader {
  background-image: url("Images/absinthe3.jpg");
}

#bittersHeader {
  background-image: url("Images/bittersheader.jpg");
} 
/* CSS relating to the homepage slideshow*/

* {box-sizing:border-box}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  width: auto;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}